@mixin box-shadow($values) {
  -webkit-box-shadow: $values;
  -moz-box-shadow: $values;
  box-shadow: $values;
}

@mixin font-settings($size, $weight: 500, $spacing: -0.14px) {
  font-family: $font-family-main;
  font-size: $size;
  font-weight: $weight;
  letter-spacing: $spacing;
}

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
}
