$font-family-main: "Poppins", sans-serif;
$color-primary: #5932ea;
$color-secondary: #b5b7c0;
$color-background: #fafbff;
$color-text: #404b52;
$color-text-light: #9197b3;
$color-border: #eee;
$color-background-light: #f5f5f5;
$color-inactive: #df0404;
$color-active: #008767;
$color-white: #ffffff;
$color-black: #000000;
$color-grey-light: #f9fbff;
$color-grey: #757575;
$breakpoint-mobile: 430px;
