@import "../style/variables";
@import "../style/mixins";

.container {
  @include flex-column;
  margin: 0 95px 258px 71px;

  .greetings {
    margin-top: 41px;
    color: $color-black;
    @include font-settings(24px, 500);
    padding-bottom: 51px;

    .icon {
      padding-left: 10px;
    }
  }

  .table-container {
    height: 812px;
    padding: 30px 44px 41px 38px;
    background-color: $color-white;
    border-radius: 20px;
    position: relative;
    @include box-shadow(0px 10px 60px rgba(226, 236, 249, 0.5));
    overflow-x: hidden;
    overflow-y: auto;

    .pagination-container {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      padding: 0 40px 40px 16px;
    }

    .search-customers {
      margin: 14px 0 49px 0;
      .MuiOutlinedInput-root {
        width: 216px;
        height: 38px;
        border-radius: 10px;
        background: $color-grey-light;

        input {
          color: $color-black;
          @include font-settings(12px, 400, -0.12px);
        }

        fieldset {
          border: none;
        }

        .MuiOutlinedInput-input {
          padding-left: 10px;
        }

        .MuiOutlinedInput-adornedStart {
          padding-left: 0;
        }
      }

      .MuiInputAdornment-positionStart {
        .MuiIconButton-root {
          padding: 7px 8px;
        }
      }
    }

    .MuiTable-root {
      .MuiTableCell-root {
        border-bottom: none;
      }

      .MuiTableHead-root {
        .MuiTableCell-root {
          position: relative;
          &::after {
            content: "";
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            border-bottom: 1px solid $color-border;
            width: calc(100% + 104px);
            margin-left: -60px;
          }
        }
      }

      .MuiTableBody-root {
        .MuiTableCell-root {
          border-bottom: 1px solid $color-border;
        }
      }
    }

    .table-header {
      @include flex-center;
      justify-content: space-between;
      .wrapper {
        @include flex-column;
        padding: 0 0 40px 16px;
        padding-bottom: 40px;
        :nth-child(1) {
          padding-bottom: 7px;
        }
      }
      .table-title {
        color: $color-black;
        @include font-settings(22px, 600, -0.22px);
      }
      .table-status {
        color: #16c098;
        @include font-settings(14px, 400, -0.14px);
      }
    }

    thead {
      th {
        color: $color-secondary;
        @include font-settings(14px, 500);
      }
      .line {
        width: 100%;
        height: 1px;
        color: $color-border;
      }
    }

    tbody {
      td {
        color: #292d32;
        @include font-settings(14px);
      }
    }

    .active,
    .inactive {
      display: block;
      text-align: center;
      max-width: 80px;
      height: 29px;
      padding: 4px 12px;
      border-radius: 4px;
      @include font-settings(14px);
    }
    .active {
      color: $color-active;
      border: 1px solid rgba($color-active, 0.7);
      background: rgba($color-active, 0.38);
    }
    .inactive {
      color: $color-inactive;
      border: 1px solid $color-inactive;
      background: #ffc5c5;
    }
  }
}

@media (max-width: $breakpoint-mobile) {
  .container {
    margin: 0;

    .greetings {
      font-size: 18px;
      padding-bottom: 20px;

      .icon {
        width: 20px;
        height: 20px;
      }
    }

    .table-container {
      padding: 15px;
      height: auto;
      overflow-x: scroll;

      .table-header {
        flex-direction: column;
        align-items: flex-start;

        .wrapper {
          padding-bottom: 20px;
        }

        .search-customers {
          .MuiOutlinedInput-root {
            width: 100%;
          }
        }
      }

      .MuiTable-root {
        .MuiTableHead-root,
        .MuiTableBody-root {
          .MuiTableCell-root {
            padding: 8px;
            font-size: 12px;
          }
        }
      }

      .pagination-container {
        padding: 10px;
      }
    }
  }
}
