@import "../style/variables";
@import "../style/mixins";

.inner-paginationContainer {
  @include flex-center;
  width: 100%;
  justify-content: space-between;

  .MuiTablePagination-toolbar {
    flex-grow: 1;
    padding-top: 32px;
    color: $color-secondary;
    @include font-settings(14px);
  }

  .MuiPagination-root {
    padding-top: 32px;

    .MuiPaginationItem-root {
      margin: 0 6px;
      width: 24px;
      height: 24px;
      min-width: 24px;
    }

    button {
      color: $color-text;
      border-radius: 4px;
      border: 1px solid $color-border;
      background: $color-background-light;

      &:hover,
      &.Mui-selected {
        color: $color-white;
        border: 1px solid $color-primary;
        background: $color-primary;
      }
    }

    .MuiPaginationItem-ellipsis {
      @include font-settings(12px, 500, -0.12px);
      width: 9px;
      margin: 0 6px;
      height: 12px;
      color: $color-black;
    }
  }

  .MuiTablePagination-caption {
    flex-shrink: 0;
    order: -1;
  }

  .MuiTablePagination-spacer {
    display: none;
  }

  .MuiTablePagination-actions {
    margin-left: auto;
  }

  @media (max-width: $breakpoint-mobile) {
    flex-direction: column;
    align-items: center;

    .MuiTablePagination-toolbar {
      padding: 0;
      @include font-settings(12px);
    }

    .MuiPagination-root {
      padding: 16px 0;

      .MuiPaginationItem-root {
        margin: 0 3px;
        width: 20px;
        height: 20px;
        min-width: 20px;
      }

      .MuiPaginationItem-ellipsis {
        @include font-settings(10px, 500);
        width: 7px;
        height: 10px;
      }
    }

    .MuiTablePagination-caption {
      order: 0;
      padding-top: 10px;
      text-align: center;
    }

    .MuiTablePagination-actions {
      margin-top: 10px;
      margin-left: 0;
    }
  }
}
