@import "../style/variables";
@import "../style/mixins";
.sidebar {
  @include flex-column; // Using flex-column mixin
  width: 306px;
  height: 100vh;
  padding: 37px 28px 0;
  background-color: $color-white;
  @include box-shadow(
    0px 10px 60px rgba(226, 236, 249, 0.5)
  ); // Using box-shadow mixin

  p {
    font-family: $font-family-main;
  }

  &-header {
    display: flex;
    height: 39px;

    .sidebar-logo {
      width: 37px;
      height: 37px;
    }

    .sidebar-title {
      padding-left: 8px;
      @include font-settings(26px, 600, 0.26px); // Using font-settings mixin
      color: $color-black;
    }

    .sidebar-version {
      padding: 18px 0 0 4px;
      width: 18px;
      height: 15px;
      color: $color-grey; // Variable for color
      @include font-settings(10px, 500, -0.1px); // Using font-settings mixin
    }
  }

  .sidebar-nav {
    margin-top: 65px;
    flex-grow: 1;
    @include flex-column; // Using flex-column mixin
    gap: 30px;

    .nav-item {
      width: 250px;
      height: 46px;
      @include flex-center; // Adjusted to use flex-center mixin
      justify-content: space-between;
      transition: background-color 0.3s;
      text-decoration: none;
      color: $color-text-light; // Variable for color
      @include font-settings(14px); // Using font-settings mixin

      span {
        @include flex-center; // Adjusted to use flex-center mixin
        padding: 11px 0 11px 11px;
        gap: 14px;
      }

      &:hover {
        color: $color-white;
        border-radius: 8px;
        background: $color-primary; // Variable for color
      }

      .list-icon {
        padding: 0;
      }

      .icon-dashboard,
      .icon-product,
      .icon-customer,
      .icon-income,
      .icon-promote,
      .icon-help,
      .icon-arrow {
        width: 24px;
        height: 24px;
      }

      .icon-arrow {
        width: 16px;
        margin-right: 8px;
      }
    }
  }

  .sidebar-footer {
    display: flex;
    padding-left: 5px;
    padding-bottom: 76px;

    .user-avatar {
      width: 42px;
      height: 42px;
    }

    .wrapper {
      @include flex-column; // Using flex-column mixin
    }

    .user-name,
    .user-title {
      padding-left: 12px;
    }

    .user-name {
      @include font-settings(14px, 500, 0.14px); // Using font-settings mixin
    }

    .user-title {
      color: $color-grey;
      @include font-settings(12px, 400, 0.12px); // Using font-settings mixin
    }
  }
}
