@import "../style/variables";
@import "../style/mixins";
.sidebar-logo-button {
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 1001;
  display: none;

  @media (max-width: $breakpoint-mobile) {
    display: block;
  }
}
.sidebar {
  @include flex-column;
  width: 306px;
  height: 100vh;
  padding: 37px 28px 0;
  background-color: $color-white;
  @include box-shadow(0px 10px 60px rgba(226, 236, 249, 0.5));
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1000;
  transform: translateX(-100%);
  transition: transform 0.3s ease-out;

  p {
    font-family: $font-family-main;
  }

  &-header {
    display: flex;
    align-items: center;
    height: 39px;

    .sidebar-logo,
    .menu-icon {
      display: none;
    }

    .sidebar-title {
      padding-left: 8px;
      @include font-settings(26px, 600, 0.26px);
      color: $color-black;
    }

    .sidebar-version {
      padding: 18px 0 0 4px;
      width: 18px;
      height: 15px;
      color: $color-grey;
      @include font-settings(10px, 500, -0.1px);
    }
  }

  .sidebar-nav {
    margin-top: 65px;
    flex-grow: 1;
    @include flex-column;
    gap: 30px;

    .nav-item {
      width: 250px;
      height: 46px;
      @include flex-center;
      justify-content: space-between;
      transition: background-color 0.3s;
      text-decoration: none;
      color: $color-text-light;
      @include font-settings(14px);

      span {
        @include flex-center;
        padding: 11px 0 11px 11px;
        gap: 14px;
      }

      &:hover {
        color: $color-white;
        border-radius: 8px;
        background: $color-primary;
      }

      .list-icon {
        padding: 0;
      }

      .icon-dashboard,
      .icon-product,
      .icon-customer,
      .icon-income,
      .icon-promote,
      .icon-help,
      .icon-arrow {
        width: 24px;
        height: 24px;
      }

      .icon-arrow {
        width: 16px;
        margin-right: 8px;
      }
    }
  }

  .sidebar-footer {
    display: flex;
    padding-left: 5px;
    padding-bottom: 76px;

    .user-avatar {
      width: 42px;
      height: 42px;
    }

    .wrapper {
      @include flex-column;
    }

    .user-name,
    .user-title {
      padding-left: 12px;
    }

    .user-name {
      @include font-settings(14px, 500, 0.14px);
    }

    .user-title {
      color: $color-grey;
      @include font-settings(12px, 400, 0.12px);
    }
  }

  // Mobile styles
  @media (max-width: $breakpoint-mobile) {
    width: 100%;
    padding: 20px;

    &.open {
      transform: translateX(0);
    }

    &-header {
      .sidebar-logo,
      .menu-icon {
        display: block;
      }
    }

    .sidebar-nav .nav-item {
      width: 100%;
    }
  }
}
