@import "../../style/variables";
@import "../../style/mixins";

.sidebar-footer {
  display: flex;
  padding-left: 5px;
  padding-bottom: 76px;

  .user-avatar {
    width: 42px;
    height: 42px;
  }

  .wrapper {
    @include flex-column;
  }

  .user-name,
  .user-title {
    padding-left: 12px;
  }

  .user-name {
    @include font-settings(14px, 500, 0.14px);
  }

  .user-title {
    color: $color-grey;
    @include font-settings(12px, 400, 0.12px);
  }
}
